# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# PyTest & Cache
.pytest_cache/
.cache/

# Streamlit
.streamlit/

# Environments
venv/
.venv/
env/
ENV/

# Datasets (Allow essential adjacency matrices)
Data/*.h5
Data/processed/
*.h5
my_speed.csv

!Data/adj_mx.pkl
!Data/adj_mx_bay.pkl

# Generated Outputs, Logs & PDF Reports
outputs/graphs/*.png
outputs/graphs/*.html
outputs/logs/*.pdf
outputs/logs/*.json
outputs/logs/*.log
*.pdf

# Track essential model checkpoint
!outputs/logs/checkpoints/best.pt
